.App {
  text-align: center;
}

/* CreateReview and CreateUser */
.form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: gold 2px solid;
  border-radius: 25px;
  padding: 30px;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.form input {
  font-size: 18px;
}

.form textarea {
  font-size: 18px;
}

.date input{
  font-size: 18px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.home h1 {
  margin: 50px;
}

.news-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: crimson 2px solid;
  margin: 50px;
  padding: 5px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}