.App {
  text-align: center;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* CreateReview and CreateUser */
.form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: gold 2px solid;
  border-radius: 25px;
  padding: 30px;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.form input {
  font-size: 18px;
}

.form textarea {
  font-size: 18px;
}

.date input{
  font-size: 18px;
}

/* LandingPage */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

/* NewsFeed */
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: crimson 2px solid;
  margin: 50px;
  padding: 5px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  overflow: scroll;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: crimson 1px solid;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border-bottom: crimson 1px solid; */
}