#root {
  height: 100%
}

.App {
  text-align: center;
  height: 100%
}

/* .App {
  text-align: center;
  font-size: 20px;
} */
.App p{
  font-size: 20px;
}

.place-review{
  display: flex
}

body{
  background-color: white;
}
p{
  font-size: 20px;
}
/* user page */
 
/* used format from https://freefrontend.com/css-buttons/ */
nav a {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 50px;
  width: 120px;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  color: rgba(22, 76, 167, 1);
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  }
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #EBFCFB;
}

.inside-app {
  height: 100%;
  /* width: 800px; */
  background-image: url('./postits.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

/* CreateReview and CreateUser */
input[type=submit]{
  color: white;
  border:2px solid;
  border-color:black;
  background-color: rgb(144, 185, 161);
  border-radius:20px;
  cursor: pointer;
  width:100px
}
/* Used for design on forms https://freefrontend.com/css-forms/ */
.form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:50px;
  padding:50px;
  background-color:rgb(248, 250, 251);
  border:5px solid rgba(0, 0, 0, 0.096);
  border-radius:40px;
  border-radius: 25px;
  padding: 30px;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.form input {
background-position:2px;
border:1px solid #DADADA;
margin-top:10px;
margin-bottom:10px;
width:250px;
height:30px;
font-size:14px;
box-shadow:0 0 10px;
}

.form textarea {
  background-position:6px;
border:1px solid #DADADA;
margin-top:10px;
margin-bottom:10px;
padding-left:35px;
width:250px;
height:100px;
font-size:14px;
box-shadow:0 0 10px;
}

.date input{
  font-size: 18px;
}
.before-home{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  justify-content: center;
}

/* Login */
.errorMessage {
  border: red 1px solid;
  background-color: #FAE2E2;
  padding: 10px;
  text-align: center;
  width: 210px;
}

/* LandingPage */
.home {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  justify-content: center;
  margin-bottom: 70px;
  font-size: 30px;
}
.ui.feed *{
  margin: 5% auto;
}

/* NewsFeed */

.post {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 400px;
 justify-content: space-evenly;
 margin-top: -60px
}
  

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: grey, 1px solid;
  font-family:  Haettenschweiler, 'Arial Narrow ', sans-serif;
  font-size: 40px;
  color: black;
  font-size: 40px;
}
.top a{
  color: white;
  font-size: 80px;
}
.post .title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border-bottom: crimson 1px solid; */
}


select {
  width: 160px;
}

.results{
  background-color: white;
  z-index: 2;
}

.results {
	-webkit-animation: results 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: results 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
li{
  list-style-type: none;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-6-20 16:55:32
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes results {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes results {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }

 /* margin-left: 320px;
  font-size: 30px;
  color: black */
}
.title a {
  font-size: 50px;
  color: white
}
.post p { 
  color: black;
  font-size: 30px;

}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(64, 151, 119);
}

/* User Review Page */


.review{
  background-color: #3D9970;
 font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;  
}
.review{
  font-size: 35px;
  margin-top: 50px;
  height:500px;
  width:700px;
  margin-left: 530px;
  border-radius: 20px;
  padding:7px;
}
.review a{
  color: white; 
  font-size: 32px;
}
.review p {
  font-size: 30px;
  line-height: 40px;
}

.review-box{
  margin: 5%;
  padding: 10px;
  border: 2px solid;
  background-color: #3D9970;
  display: flex;
  flex-flow: column;
  width:40%;

}
.review-box a {
  margin-bottom: 1%;
}
.review-box p{
  font-size: 20px;
}
.all-reviews *{
  margin: 5% auto;

}
.user-reviews *{
  margin: 5% auto;
  font-size: 20px;
}

